@{
    ViewData["Title"] = "Home Page";
    
}
@using eRoomIT.Models.Entities;
@model List<Room>

<!-- Thêm biểu tượng lá cờ -->
<img id="english-flag" src="/images/england-flag.jpg" class="float-right" style="margin-right: 5px; width: 30px;">
<img id="vietnamese-flag" src="/images/vietnamese-flag.png" class="float-right" style="margin-right: 10px; width: 30px;">

<i id="light-theme-icon" class="fas fa-sun float-right" style="margin-right: 20px;"></i>
<i id="dark-theme-icon" class="fas fa-moon float-right d-none" style="margin-right: 20px;"></i>

<h1 class="display-4 text-center">
        Welcome to IT Room Management
    </h1>
    <!-- Rest of your code -->
    <p class="text-center">Explore our rooms and their layouts below.</p>

<div class="container">
    <div class="row">
        @foreach (var room in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <!-- Display the image -->
                    <img src="~/images/@room.SoDoPhong" class="card-img-top" alt="Room image">
                    <div class="card-body">
                        <!-- Display the room name -->
                        <h5 class="card-title">@room.TenPhong</h5>
                        <!-- Display the room description -->
                        <p class="card-text">@room.MoTa</p>
                        <!-- Link to a detailed view or any other action -->
                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@room.PhongMayID" class="btn btn-primary">Xem Chi Tiet</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>