@model eRoomIT.Models.Entities.Room

@{
    ViewData["Title"] = "Create Room";
}

<h2>Create Room</h2>

<form asp-action="Create" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="UploadFile" class="control-label">Upload Sơ đồ phòng</label>
        <input asp-for="UploadFile" class="form-control" />
        <span asp-validation-for="UploadFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenPhong" class="control-label">Tên Phòng</label>
        <input asp-for="TenPhong" class="form-control" />
        <span asp-validation-for="TenPhong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoMay" class="control-label">Số Máy</label>
        <input asp-for="SoMay" class="form-control" />
        <span asp-validation-for="SoMay" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa" class="control-label">Mô Tả</label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Tạo mới phòng" class="btn btn-primary" />

    </div>
    <div class="mt-3">
        <a class="btn btn-outline-warning" asp-action="Index">Quay lại danh sách phòng</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
